/*---COLOUR PALLETE-----
OFF-WHITE: #edffec
ORANGE: #ff9c70
ACCENT DARK: #5b5767
ACCENT DARKER: #48435c
-----COLOUR PALLETE---*/


@font-face {
    font-family: 'MADEVoyager';
    src: url('font/MADEVoyager-Medium.otf');
}

.bar-item {
    height: auto;
    padding: 10.25px 14px;
    float: left;
    width: auto;
    border: none;
    display: grid;
    outline: 0;
}

.nav-btn {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
}

.nav-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #5b5767;
    justify-content: inline;

    a {
        color: #ff9c70;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-family: 'MADEVoyager';
    }

    .nav-logo {
        height: auto;
        background-color: #edffec;
        vertical-align: middle;
        padding: 5px 5px;

        img {
            height: 28px;
        }
    }
}