/*---COLOUR PALLETE-----
OFF-WHITE: #edffec
ORANGE: #ff9c70
ACCENT DARK: #5b5767
ACCENT DARKER: #48435c
-----COLOUR PALLETE---*/

@font-face {
    font-family: 'MADEVoyager';
    src: url('font/MADEVoyager-Medium.otf');

    font-family: 'MADESunflower';
    src: url('font/MadeSunflower.otf');   
}

body {
    margin: 0;
    padding: 0;
    background-color: #48435c;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: stretch;
    background-color: #5b5767;
    box-sizing: border-box;
    width: 100%;
}

.bar-item {
    color: #ff9c70;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 1em;
    font-family: 'MADEVoyager';
    display: flex;
    align-items: center;
}

.nav-drop{
    padding: 0 16px;
}

.nav-logo{
    img {
        background-color: #edffec;
        max-height: 60px; 
        height: auto;
        width: auto;
    }
}

.nav-drop:hover {
    background-color: #48435c;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ff9c70;
  padding: 0px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5b5767;
  min-width: 160px;
  z-index: 1;
  top: 7.4%;
}

.dropdown-content a {
  float: none;
  color: #ff9c70;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #48435c;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* NAVBAR */

/* GRID */

.content {
    background-color: #edffec;
}

.header {
    grid-column: 1 / span 2;
    position: relative;
    display: grid;

    #header-img {
        width: 100%;
        filter: brightness(80%);
        display: block;
    }

    #header-img-mobile {
        width: 100%;
        filter: brightness(80%);
        display: none;
    }

    .title {
        white-space: pre-line;
        position: absolute;
        color: #edffec;
        font-family: 'MADESunflower';
        font-size: 7.5em;
        top: 50%;
        left: 270px;
        line-height: 120px;
        transform: translate(-50%, -50%);
    }
}

/* MENU ELEMENTS */

#menuitems {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}


/* FOOTER */
.footer {
    background-color: #48435c;
    font-family: 'MADEVoyager';
    letter-spacing: 1px;
    line-height: 30px;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-size: 0.8em;
    color: #ff9c70;
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: 10% 20% 20% 20% 30%;

    a:link {
        color: #ff9c70;
        justify-self: center;
        text-align: center;
    }

    a:visited {
        color: #ff9c70;
        justify-self: center;
        text-align: center;
    }

    #firstColumn {
        color: #ff9c70;
        grid-column: 2 / span 1;
        text-align: left;
        justify-self: left;
    }

    #secondColumn {
        color: #ff9c70;
        grid-column: 3 / span 1;
        text-align: left;
        justify-self: left;
    }

    #thirdColumn {
        color: #ff9c70;
        text-align: left;
        grid-column: 4 / span 1;
        justify-self: left;
    }

    p {
        color: #ff9c70;
        justify-self: left;
        margin: 0;
        font-size: 1.4em;
    }

    img {
        width: 80%;
        justify-self: center;
        margin: 0 auto;
    }

    #address {
        white-space: pre-wrap;
    }
}

#rights {
    text-align: left;
    font-size: 0.8em;
    padding: 0;
    color: #ff9c70;
    margin-left: 10%;
}


/* COLLAPSIBLE CONTENT */

/* COLLAPSIBLE CONTENT */

.collapsible {
    background-color: #5b5767;
    color: #ff9c70;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.8em;
    font-family: 'MadeSunflower';
    max-width: 350px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 15px;
}

.collapsible:hover {
    background-color: #48435c;
    color: #ff9c70;
}

.active {
    background-color: #48435c;
    color: #ff9c70;
}

.collapsiblecontent {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: #5b5767;
    width: 100%;
    justify-self: left;
    align-items: center;
    max-width: 350px;
    border-radius: 5px;
    font-family: 'MADEVoyager';
    grid-template-columns: 50% 50%;
    ul{
        grid-column: 1/ span 1;
        padding: 20px 25px 20px 20px;
        text-align: left;
    }
    div{
        padding: 20px 0px 20px 25px;
    }
    img{
        grid-column: 2/ span 1;
        padding: 5px;
        width: 80%;
        height: auto;
        border: 2px solid #ff9c70;
        border-spacing: 0px;
    }
}


@media screen and (max-width: 650px) {

/* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    div{
        padding-bottom: 10%;
    }
}
#rights{
    margin-left: 5%;
}

/* FOOTER */

html {
    min-width: 100%;
}

.title{
    justify-self: center;
    text-align: center;
    font-size: 4em !important;  /*CHANGE ALL PIXEL SIZE FONTS*/
    line-height: 1 !important;
    transform: revert !important;
    top: auto !important;
    left: auto !important;
    margin: auto !important;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-img{
    width: auto !important;
    height: 100% !important; 
    object-fit: cover !important;
    display: none !important;
}
#header-img-mobile{
    width: 100% !important;
    display: block !important;
}

/* HEADER AND TITLE*/


}