/*---COLOUR PALLETE-----
OFF-WHITE: #edffec
ORANGE: #ff9c70
ACCENT DARK: #5b5767
ACCENT DARKER: #48435c
-----COLOUR PALLETE---*/

@font-face {
    font-family: 'MADEVoyager';
    src: url('font/MADEVoyager-Medium.otf');

    font-family: 'MADESunflower';
    src: url('font/MadeSunflower.otf');
}

body {
    margin: 0;
    padding: 0;
}
/* NAVBAR */
.navbar {
    display: flex;
    align-items: stretch;
    background-color: #5b5767;
    box-sizing: border-box;
    width: 100%;
}

.bar-item {
    color: #ff9c70;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 20px;
    font-family: 'MADEVoyager';
    display: flex;
    align-items: center;
}

.nav-drop{
    padding: 0 16px;
}

.nav-logo{
    img {
        background-color: #edffec;
        max-height: 60px; 
        height: auto;
        width: auto;
    }
}

.nav-drop:hover {
    background-color: #48435c;
}

/* NAVBAR */

/* GRID */

.content{
    display: grid;
    grid-template-columns: 50%, 50%;
    justify-content: top;
    background-color: #edffec;
}

.header{
    grid-column: 1/ span 2;
    position: relative;
    #header-img{
        width: 100%;
        filter: brightness(50%);
        display: block;
    }
    .title{
        white-space: pre-line;
        position: absolute;
        color: #edffec;
        font-family: 'MADESunflower';
        font-size: 120px;
        top: 50%;
        left: 270px;
        line-height: 120px;
        transform: translate(-50%, -50%);
    }
} 

/* GRID */

/* Elements */

.menu{
    filter: brightness(50%);
}

.menuitems{
    position: relative;
    text-align: center;
}

.menutext{
    font-size: 20px;
    font-family: 'MADESunflower';
    color: #edffec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}